<h1>Showing selected article</h1>

<p>
	<b>Title:</b> <%= @article.title %>
</p>
<p>
	<b>Description:</b> <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to all articles", articles_path %>