<!-- <h1>This is the HOME page</h1> -->

<div class="center jumbotron">
  <h1>TechBenders - Advanced Blog</h1>
 <br><br><br><br><br><br><br><br>
<%= link_to "Sign Up Now", "#", class: "btn btn-danger btn-lg btn-xlarge"%>
</div>


<!-- <section>
  <h2>The beginning of something great</h2>
</section>

<div class="boxes">
	<div id="box1">
		<h1><center>Something Here</center></h1>
		<p>Pommy ipsum Queen Elizabeth chuffed make a brew ey up chuck, ever so fake tan you mean it ain't me noggin' fish fingers and custard morris dancers, pulled out the eating irons pork dripping Weeping Angels conkers. Gallivanting around bovver boots taking the mick bag egg's old boy laughing gear chaps one would be honoured to shortbread, chav Shakespeare fancied a flutter oopsy-daisies could murder a pint bloke. Spiffing gravy cheese and chips lass scrumpy terribly pork scratchings I could reet fancy a you mean it ain't me noggin' tally-ho, slappers off the hook nuthouse scones chips marvelous crumpets. </p>
	</div>

	<div id="box2">
		<h1><center>And something here</center></h1>
		<p>Pommy ipsum Geordie gobsmacked a tenner biscuits it's spitting, a diamond geezer Moriarty Union Jack who brought loaf jammy git hadn't done it in donkey's years, spam fritters Dr. Watson pulled out the eating irons and thus punter. Plum pudding eton mess grub's up one feels that Dalek flip flops, for sooth put me soaps back on smeg head morris dancers, bag egg's old boy any road, best be off down South pigeons in Trafalgar Square. See a man about a dog scrubber codswallop cockney scrote trouble and strife alright duck, a bit miffed scally ey up chuck conkers baffled scones, marvelous scrubber spend a penny ended up brown bread bit of a Jack the lad. </p>
	</div>

	<div id="box3">
	  <h1><center>And the extra stuff</center></h1>
	  <p>Pommy ipsum barmy smeg head lass fried toast pulled out the eating irons, grub's up tally-ho have a kip flip flops jolly, on the pull utter shambles gobsmacked manky lad. Ee bah gum narky scatterbrained ended up brown bread wedding tackle balderdash Northeners squiffy nutter, fork out her Majesty's pleasure gutted cobbles accordingly. Squirrel could murder a pint scatterbrained could be a bit of a git, off with her head tad The Hounds of Baskerville at the boozer, wind up hadn't done it in donkey's years. Skive sorted it indeed ended up brown bread Essex girls Bad Wolf, conked him one on the nose that's ace accordingly what a mug. </p>
	</div> -->

</div>